
<table class="table">
  <caption class="text-center">matrice carrée d'ordre 3</caption>
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col"></th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row"></th>
      <td>
        <form class="w-75 h-50">
          <div class="form-group">
            <label for="entry1"></label>
            <textarea class="form-control text-center" id="entry1" rows="1"></textarea>
          </div>
        </form>
      </td>
      <td>
        <form class="w-75 h-50">
          <div class="form-group">
            <label for="entry2"></label>
            <textarea class="form-control text-center" id="entry2" rows="1"></textarea>
          </div>
        </form>
      </td>
      <td>
        <form class="w-75 h-50">
          <div class="form-group">
            <label for="entry2"></label>
            <textarea class="form-control text-center" id="entry2" rows="1"></textarea>
          </div>
        </form>
      </td>
    </tr>
    <tr>
      <th scope="row"></th>
      <td>
        <form class="w-75 h-50">
          <div class="form-group">
            <label for="entry1"></label>
            <textarea class="form-control text-center" id="entry1" rows="1"></textarea>
          </div>
        </form>
      </td>
      <td>
        <form class="w-75 h-50">
          <div class="form-group">
            <label for="entry2"></label>
            <textarea class="form-control text-center" id="entry2" rows="1"></textarea>
          </div>
        </form>
      </td>
      <td>
        <form class="w-75 h-50">
          <div class="form-group">
            <label for="entry2"></label>
            <textarea class="form-control text-center" id="entry2" rows="1"></textarea>
          </div>
        </form>
      </td>
    </tr>
    <tr>
      <th scope="row"></th>
      <td>
        <form class="w-75 h-50">
          <div class="form-group">
            <label for="entry1"></label>
            <textarea class="form-control text-center" id="entry1" rows="1"></textarea>
          </div>
        </form>
      </td>
      <td>
        <form class="w-75 h-50">
          <div class="form-group">
            <label for="entry2"></label>
            <textarea class="form-control text-center" id="entry2" rows="1"></textarea>
          </div>
        </form>
      </td>
      <td>
        <form class="w-75 h-50">
          <div class="form-group">
            <label for="entry2"></label>
            <textarea class="form-control text-center" id="entry2" rows="1"></textarea>
          </div>
        </form>
      </td>
    </tr>
  </tbody>
</table>


 <!-- Footer -->
<div class="d-flex justify-content-center">
    <button type="button" class="btn btn-outline-dark mr-5">Calculate</button>
    <button type="button" class="btn btn-outline-dark ml-5">Save</button>
</div>
