<div class="container-fluid">
  <div class="row">
    <!-- Toolbar -->
    <nav class="navbar navbar-dark bg-dark justify-content-around mb-5">
      <h1 class="navbar-brand mt-3 mb-3">Opteamum</h1>
      <div class="d-flex">
        <p class="text-light mt-3 mb-3">example@messagerie.Fr</p>
        <button class="btn btn-outline-danger" type="button">Disconnect</button>
      </div>
    </nav>
  </div>

  <div class="container">
    <div class="row" role="main">

    <!-- Corps -->
    <app-operation class="col-8 mt-5 mr-2"></app-operation>
    <app-saved-operation class="col-4 ml-2"></app-saved-operation>

    </div>
  </div>
</div>



<router-outlet></router-outlet>
